{%- liquid
  assign title_price_display = settings.title_price_display

  assign on_sale = false
  if product.compare_at_price > product.price
    assign on_sale = true
  endif

  assign sold_out = true
  if product.available
    assign sold_out = false
  endif

  if product.featured_image == blank
    assign title_price_display = 'under_image'
  endif

  assign show_sale_badge = settings.product_grid_show_sale_badge
-%}

{%- case settings.under_image_display_format -%}
{%- when 'title_left_price_right'-%}
  {%- capture layout_class -%}{% if products_per_row_mobile == 2 %}text-sm lg:text-base lg:flex{% else %}flex{% endif %}{%- endcapture-%}
  {%- capture price_class -%}{% if products_per_row_mobile == 2 %}text-left lg:w-2/5 lg:text-right mt-1 lg:mt-0 lg:pl-2{% else %}text-right pl-2{% endif %}{%- endcapture -%}
  {%- capture title_class -%}{% if products_per_row_mobile == 2 %}text-left lg:w-3/5{% else %}text-left w-3/5{% endif %}{%- endcapture -%}
  {%- assign swatch_class = 'justify-start' -%}
{%- when 'title_left_price_under'-%}
  {%- capture layout_class -%}{% if products_per_row_mobile == 2 %}text-sm lg:text-base {% endif %}{%- endcapture-%}
  {%- capture price_class -%}text-left mt-1 {% if settings.product_grid_show_vendor %}lg:mt-2{% endif %}{%- endcapture -%}
  {%- assign title_class = 'text-left' -%}
  {%- assign swatch_class = 'justify-start' -%}
{%- when 'title_center_price_under'-%}
  {%- capture layout_class -%}{% if products_per_row_mobile == 2 %}text-sm lg:text-base {% endif %}text-center{%- endcapture-%}
  {%- capture price_class -%}text-center mt-1 {% if settings.product_grid_show_vendor %}lg:mt-2{% endif %}{%- endcapture -%}
  {%- assign title_class = 'text-center' -%}
  {%- assign swatch_class = 'justify-center' -%}
{%- endcase -%}

<div class="group block h-full relative text-center type-product-grid-item {% unless settings.title_price_display == 'on_hover' or sold_out %}hover:text-{{ section_color }}-accent{% endunless %}" x-data="{ current_swatch_variant: '', open: false, enabled: false, option: '' }">
  {% comment %}Hidden link for screen readers{% endcomment %}
  <a href="{{ product.url | within: collection }}" class="increase-target"><span class="visually-hidden">{{ product.title }}</span></a>
  <div class="relative">
    {%- if show_sale_badge and on_sale -%}
      <div class="z-10 p-2 bg-{{ section_color }}-accent text-{{ section_color }}-text-overlay absolute {% if title_price_display == 'over_image_top' %}bottom-2px{% else %}top-2px{% endif %} right-2px text-sm lg:text-base">Clearance</div>
    {%- endif -%}
    {%- if product.metafields.custom.badge -%}
      <div class="z-10 p-2 absolute {% if title_price_display == 'over_image_top' %}bottom-2px{% else %}top-2px{% endif %} left-2px text-sm lg:text-base" style="color: {{ settings.color_badge_text }}; background-color: {{ settings.color_badge_background }};">{{ product.metafields.custom.badge | metafield_text }}</div>
    {%- elsif product.tags contains 'Final Stock' -%}
      <div class="z-10 p-2 absolute {% if title_price_display == 'over_image_top' %}bottom-2px{% else %}top-2px{% endif %} left-2px text-sm lg:text-base" style="color: {{ settings.color_badge_text }}; background-color: {{ settings.color_badge_background }};">Final pieces</div>
    {%- endif -%}

    <div class="relative w-full h-full {% unless settings.fill_image_to_border_edge %}{% if title_price_display == 'under_image' %}pt-2 lg:pt-4{% else %}py-2 lg:py-4{% endif %} {% if reduce_gutter %}px-1 lg:px-2{% else %}px-2 lg:px-4{% endif %}{% endunless %} {% if title_price_display == 'under_image' and settings.fill_image_to_border_edge %} border-grid-color pb-0 lg:pb{% endif %} ">
      <div class="featured-collection__image z-0 relative">

        {% liquid
          assign object_contain_grid = false
          unless settings.product_grid_image_size == 'natural'
            assign object_contain_grid = true
            assign ratio = settings.product_grid_image_size | plus: 0
          endunless
        %}
        {%- if object_contain_grid -%}
          <div class="gallery-image-cropped relative"
            style="padding-top:{{ 1 | divided_by: ratio | times: 100 }}%;">
            {%- if product.featured_image != blank -%}
            {%- render 'image-object' with
              image: product.featured_image,
              contain: true
            -%}
            {%- else -%}
              {%- assign placeholder_svg_tag = 'placeholder-svg placeholder-svg--no-border bg-placeholder-bg' -%}
              <span class="absolute top-0 left-0 right-0 bottom-0 text-text">{{ 'image' | placeholder_svg_tag: placeholder_svg_tag }}</span>
            {%- endif -%}
          </div>
        {%- else -%}
          {%- if product.featured_image != blank -%}
            {%- render 'responsive-image' with
              image: product.featured_image
            -%}
          {%- else -%}
            {%- assign placeholder_svg_tag = 'placeholder-svg placeholder-svg--no-border bg-placeholder-bg' -%}
            {{ 'image' | placeholder_svg_tag: placeholder_svg_tag }}
          {%- endif -%}
        {%- endif -%}

        {% if product.media.size > 1 and settings.products_show_second_image_on_hover %}
          {% if product.media[1].media_type == "image" %}
          	{% assign hover_image = product.media[1].preview_image %}
          {% else %}
        	{% assign hover_image = product.media[2].preview_image %}
          {% endif %}
          <div class="product-item-hover bg-{{ section_color }}-background lazyload absolute top-0 left-0 bottom-0 right-0 opacity-0 z-10 bg-cover bg-no-repeat bg-center transition-opacity duration-200 ease-in-out group-hover:opacity-100"
              data-bgset="{% render 'responsive-bg-image', image: hover_image %}"
              data-sizes="auto"
              data-parent-fit="cover"
              >
          </div>
        {% endif %}

        {%- if settings.enable_color_swatches_collections -%}
          <div class="swatch-images-container hidden lg:block">
            <div x-show.transition.opacity.duration.200ms="current_swatch_variant !== ''" class="bg-{{ section_color }}-background absolute top-0 right-0 bottom-0 left-0 z-20"></div>
            {%- for i in (1..10) -%}
            {%- capture color %}variant_{{ i }}{%- endcapture -%}
            {%- liquid
                assign variant = product.metafields.custom[color].value
                assign variant_image = variant.featured_image
            -%}
              {%- if variant_image != blank -%}
              <div class="hidden lg:block product-item-hover bg-{{ section_color }}-background lazyload absolute top-0 left-0 bottom-0 right-0 z-20 bg-cover bg-no-repeat bg-center transition-opacity duration-200 ease-in-out"
                   data-bgset="{% render 'responsive-bg-image', image: variant_image %}"
                   data-sizes="auto"
                   data-parent-fit="cover"
                   x-show.transition.opacity.duration.200ms="current_swatch_variant === '{{ variant.id }}'"
                   >
              </div>
              {%- endif -%}

            {%- endfor -%}
          </div>
        {%- endif -%}
      </div>

      <div class="hidden lg:block">
        {% if sold_out %}
          {%- unless product.tags contains 'Final Stock' -%}
          <div class="klaviyo-product-container" id="klaviyo-data-handle-{{ product.handle }}" data-klaviyo-handle="{{ product.handle }}">
            <div class="klaviyo-button-container transition-opacity opacity-0 transition-opacity z-10">
            </div>
          </div>
          {%- endunless -%}
        {% else %}
        <button class="quick-add-hover z-10 absolute bottom-2px left-2px right-2px w-available bg-{{ section_color }}-text text-{{ section_color }}-text-overlay text-md uppercase py-1 px-2 transition-opacity opacity-0" @click="open = ! open">Quick Add</button>
        {% endif %}
        <div class="z-10 absolute bottom-0 left-0 right-0 bg-secondary-accent text-{{ section_color }}-text uppercase py-1 px-2px"
             x-show="open"
             x-transition:enter="transition-opacity ease duration-200"
             x-transition:enter-start="opacity-0"
             x-transition:enter-end="opacity-100"
             x-transition:leave="transition-opacity ease duration-500"
             x-transition:leave-end="opacity-0"
             @click.away="open = false"
             x-cloak>
          {% unless product.has_only_default_variant and product.metafields.custom.colour == blank %}
          <div class="absolute top-0 right-0 p-2 mt-1 mr-2 z-50">
            <button @click="open = false" class="block w-4 h-4">
              <span class="visually-hidden">{{ 'general.accessibility.close_modal' | t }}</span>
              {% render 'icon-close' %}
            </button>
          </div>
          {% endunless %}
          {%- if settings.enable_color_swatches_collections -%}
            {% unless product.metafields.custom.colour == blank %}
            <div class="pt-2 section-x-padding">
              <div class="flex relative z-20 flex-wrap" x-on:mouseleave="setTimeout(() => { current_swatch_variant = '' }, 200)">
                {%- assign color_swatch = product.metafields.custom.swatch | metafield_text | prepend: 'https://' -%}
                <div class="py-2px px-2px mr-2 mb-1 border rounded-full border-primary-text">
                  <span class="block w-4 h-4 rounded-full bg-cover {% render 'button-style', section_color: section_color %}" style="background-image: url({{ color_swatch }});"></span>
                  <span class="visually-hidden">{{ product.title }}</span>
                </div>
                {%- for i in (1..10) -%}
                {%- capture color %}variant_{{ i }}{%- endcapture -%}
                {%- liquid
                        assign variant = product.metafields.custom[color].value
                      -%}
                {% if variant != blank %}
                <a
                   href="{{ variant.url }}"
                   class="py-2px px-2px mr-2 mb-1 border rounded-full border-secondary-accent hover:border-primary-text"
                   x-on:mouseenter="current_swatch_variant = '{{ variant.id }}'"
                   >
                  <span class="block w-4 h-4 rounded-full bg-cover {% render 'button-style', section_color: section_color %}" style="background-image: url({{ variant.metafields.custom.swatch | metafield_text | prepend: 'https://' }});"></span>
                  <span class="visually-hidden">{{ variant.title }}</span>
                </a>
                {%- endif -%}
                {%- endfor -%}
              </div>
            </div>
            {% endunless %}
          {%- endif -%}
          <form method="post" action="/cart/add" class="flex flex-col">
            <div class="flex justify-between items-start w-full section-x-padding">
              {% unless product.has_only_default_variant %}
              <fieldset class="product-variant-picker-block js-enabled">
                <div class="flex flex-wrap items-center justify-start -mx-2">
                  {% for variant in product.variants %}
                  {% assign variant_label_state = true %}
                  {% unless product.variants[forloop.index0].available %}
                  {% assign variant_label_state = false %}
                  {% endunless %}
                  <div class="relative variant-input">
                    <input class="custom-input absolute top-0 left-0 w-full h-full opacity-0 {% if variant_label_state %}cursor-pointer{% endif %}"
                           role="radio"
                           id="{{ variant.title }}"
                           name="{{ varaint.title }}"
                           value="{{ variant.id }}"
                           {% if variant_label_state %}@click="option = '{{ variant.id }}', enabled = true"{% endif %}
                           >
                    <label class="block py-2 px-2 {% unless variant_label_state %}text-{{ section_color }}-meta line-through{% endunless %}" for="{{ variant.title }}">
                      <span :class="{ 'border-b-text border-{{ section_color }}-text': option === '{{ variant.id }}' }">{{ variant.title }}</span>
                    </label>
                  </div>
                  {% endfor %}
                </div>
              </fieldset>
              {% endunless %}
            </div>
            <input type="hidden" name="id" {% if product.has_only_default_variant %}value="{{ product.variants.first.id }}"{% else %}:value="option"{% endif %}/>
            <input min="1" type="hidden" id="quantity" name="quantity" value="1"/>
            <input id="addToCartButton" @click="$store.drawer.cartOpener = $event.currentTarget, open = false" type="submit" value="Add to cart" {% unless product.has_only_default_variant %}:disabled="!enabled"{% endunless %} :class="enabled ? 'opacity-100 cursor-pointer' : 'opacity-50'" class="add-to-cart {% if product.has_only_default_variant %}opacity-100 cursor-pointer{% else %}opacity-50{% endif %} bg-{{ section_color }}-accent text-{{ section_color }}-text-overlay w-full text-md uppercase py-1 px-2 transition-opacity duration-200"/>
          </form>
        </div>
      </div>
    </div>

    <div class="relative {% if settings.product_grid_uppercase %}uppercase{% endif %} {% if title_price_display == 'on_hover' or title_price_display contains 'over_image' %}absolute {% if settings.fill_image_to_border_edge %}{% if title_price_display == 'over_image_top' %}top-0{% else %}bottom-0{% endif %} left-0 right-0{% else %}left-4 right-4 {% if title_price_display == 'over_image_top' %}top-4{% else %}bottom-4{% endif %}{% endif %}{% endif %} {% if title_price_display == 'on_hover' %}product-grid__meta opacity-0 group-hover:opacity-100 {% if settings.fill_image_to_border_edge %}border-t-grid border-grid-color  bg-{{ section_color }}-background {% endif %}  transition-opacity duration-200 ease-in-out text-{{ section_color }}-text {% endif %} pt-3 pb-8 {% if reduce_gutter %}px-1 lg:px-2{% else %}section-x-padding{% endif %} justify-between {{ layout_class }}">
      <div class="{{ title_class }} break-words flex items-start justify-between">
        {% if settings.product_grid_show_vendor and product.vendor != '' %}
          <p class="mb-1 text-{{ section_color }}-meta">{{ product.vendor }}</p>
        {% endif %}
        <p aria-hidden="true" class="product-grid-title mr-2">{{ product.title }}</p>
        <!-- include 'wishlist-button-collection' with '{{ product.id }}' -->
        </div>
      <div class="{{ price_class }}">
        {% if sold_out %}
          <p class="text-secondary-accent uppercase">{{ 'products.product.sold_out' | t }}</p>
        {% else %}
          {% if on_sale and sold_out != true %}
            <s class="inline-block"><span class="visually-hidden">{{ 'products.product.regular_price'| t }}</span>{{ product.compare_at_price | money }}</s>
          {% endif %}
          {% if on_sale %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
              <span class="text-{{ section_color }}-accent"><span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span><br/>{{ 'products.product.on_sale_from_html' | t: price: sale_price }}</span>
            {% else %}
              <span class="text-{{ section_color }}-accent"><span class="visually-hidden">{{ 'products.product.sale_price' | t }}</span>{{ product.price | money }}</span>
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
              <span>{{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}</span>
            {% else %}
              <span>{{ product.price | money }}</span>
            {% endif %}
          {% endif %}
        {% endif %}
        {% assign current_variant = product.first_available_variant %}
        {%- if current_variant.unit_price -%}
          <p class="{% if sold_out %}text-{{ section_color }}-meta line-through{% endif %} text-xs" data-unit-price-wrapper>
            <span data-unit-price>
              {{- current_variant.unit_price | money -}}
            </span>
            <span>/</span>
            <span data-unit-price-measurement-reference-value>
            {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
              {{- current_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            </span>
            <span data-unit-price-measurement-reference-unit>
              {{- current_variant.unit_price_measurement.reference_unit -}}
            </span>
          </p>
        {%- endif -%}
      </div>
    </div>

  </div>
</div>
