{%- liquid
  assign section_color = section.settings.color_scheme
  assign image_background_color = section.settings.background_color
  assign map_position = section.settings.map_position
  assign text_size_class = section.settings.text_size
  assign text_align = section.settings.text_alignment
  assign text_position = section.settings.text_position
  assign indent_map = section.settings.indent_map
  assign font = section.settings.font
  case section.settings.map_size
	when 'third'
	  if map_position == 'right'
		assign map_width_desktop = 'lg:col-start-9 lg:col-end-13'
		assign text_width_desktop = 'lg:col-span-8'
	  else
		assign map_width_desktop = 'lg:col-start-1 lg:col-span-4'
		assign text_width_desktop = 'lg:col-start-5 lg:col-span-8'
	  endif
	when 'half'
	  if map_position == 'right'
		assign map_width_desktop = 'lg:col-start-7 lg:col-end-13'
		assign text_width_desktop = 'lg:col-span-6'
	  else
		assign map_width_desktop = 'lg:col-start-1 lg:col-span-6'
		assign text_width_desktop = 'lg:col-start-7 lg:col-span-6'
	  endif
	when 'two_thirds'
	  if map_position == 'right'
		assign map_width_desktop = 'lg:col-start-5 lg:col-end-13'
		assign text_width_desktop = 'lg:col-span-4'
	  else
		assign map_width_desktop = 'lg:col-start-1 lg:col-span-8'
		assign text_width_desktop = 'lg:col-start-9 lg:col-span-4'
	  endif
  endcase
  assign padding_top = section.settings.padding_top
  assign padding_top_desktop = section.settings.padding_top_desktop
  assign padding_bottom = section.settings.padding_bottom
  assign padding_bottom_desktop = section.settings.padding_bottom_desktop
  assign section_y_padding = padding_top | append: ' ' | append: padding_top_desktop | append: ' ' | append: padding_bottom | append: ' ' | append: padding_bottom_desktop
-%}

<section class="grid grid-cols-1 lg:grid-cols-12 grid-flow-row-dense bg-border gap-gutter overflow-hidden {{ section_y_padding }}">
  <div class="{{ text_width_desktop }} bg-{{ section_color }}-background text-{{ section_color }}-text relative section-x-padding flex flex-col {{ text_position }}">
	{%- if section.settings.image != blank -%}
		<div class="relative w-full pb-theme">
		{%- assign image = section.settings.image -%}
		{% render 'responsive-image' with image: image %}
		</div>
	{%- endif -%}
	<div class="{{ text_align }} break-words w-full">
	  {%- if section.settings.title != blank -%}
		<h2 class="font-heading {{ settings.base_heading_size }}">{{ section.settings.title }}</h2>
	  {%- endif -%}

	  {%- if section.settings.richtext != blank -%}
	  <div class="rte {{ text_size_class }} {% if section.settings.title != '' %}mt-8{% endif %} font-{{ font }}">
		{{ section.settings.richtext }}
	  </div>
	  {%- endif -%}

	  {%- if section.settings.cta_link != blank and section.settings.cta_text != '' -%}
	  <div class="mt-8 text-0">
		{%- case section.settings.cta_style -%}
		{%- when 'link' -%}
		  {%- render 'link-underline',
			section_color: section_color,
			text: section.settings.cta_text,
			link: section.settings.cta_link,
		  -%}
		{%- when 'button' -%}
		  <a href="{{ section.settings.cta_link }}" class="inline-flex justify-center items-center text-base px-8 py-2 {% render 'button-style', section_color: section_color %}  {% render 'button-color', section_color: section_color %} ">
			<span class="{% if settings.button_uppercase %}uppercase{% endif %}">{{ section.settings.cta_text }}{% if settings.buttons_show_arrow %}&nbsp;&rarr;{% endif %}</span>
		  </a>
		{%- endcase -%}
	  </div>
	  {%- endif -%}
	</div>
  </div>
  <div class="bg-{{ image_background_color }}-background {{ map_width_desktop }} px-2px {% if indent_map %}p-8 lg:p-16{% endif %}">
  	<div class="relative h-full min-h-500 pt-theme lg:pt-0">
  		<iframe src="{{ section.settings.map_url }}" width="100%" height="100%" class="lg:absolute top-0 left-0 right-0 bottom-0" style="border:0;" allowfullscreen="false" loading="lazy"></iframe>
	</div>
  </div>
</section>

{% schema %}
{
  "name": "Map",
  "settings": [
	{
	  "type":      "header",
	  "content":   "Content"
	},
	{
	  "type": "url",
	  "id": "map_url",
	  "label": "Google Maps embed link",
	  "info": "From Google Maps click on 'Share', then 'Embed a map' and paste only the url portion here."
	},
	{
	  "type": "select",
	  "id": "map_position",
	  "label": "Map position on desktop",
	  "default": "right",
	  "options": [
		{
		  "value": "right",
		  "label": "Right"
		},
		{
		  "value": "left",
		  "label": "Left"
		}
	  ]
	},
	{
	  "type": "select",
	  "id": "map_size",
	  "label": "Map size on desktop",
	  "default": "half",
	  "options": [
		{
		  "value": "third",
		  "label": "One third"
		},
		{
		  "value": "half",
		  "label": "One half"
		},
		{
		  "value": "two_thirds",
		  "label": "Two thirds"
		}
	  ]
	},
	{
	  "type": "checkbox",
	  "id": "indent_map",
	  "label": "Indent map",
	  "default": false
	},
	{
	  "type": "select",
	  "id": "background_color",
	  "label": "Background color",
	  "options": [
		  { "value": "primary", "label": "Primary background"},
		  { "value": "secondary", "label": "Secondary background"},
		  { "value": "tertiary", "label": "Tertiary background"}
	  ],
	  "default":   "primary"
	},
	{
	  "type":      "header",
	  "content":   "Content"
	},
	{
	  "id": "image",
	  "type": "image_picker",
	  "label": "Image"
	},
	{
	  "type": "text",
	  "id": "title",
	  "label": "Heading"
	},
	{
	  "type": "richtext",
	  "id": "richtext",
	  "label": "Text",
	  "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
	},
	{
	  "type": "select",
	  "id": "text_size",
	  "label": "Text size",
	  "options": [
		{ "value": "text-sm", "label": "S"},
		{ "value": "text-base", "label": "M"},
		{ "value": "text-lg", "label": "L"},
		{ "value": "text-xl", "label": "XL"},
		{ "value": "text-2xl", "label": "2XL"},
		{ "value": "text-2xl lg:text-3xl", "label": "2XL / desktop 3XL"},
		{ "value": "text-2xl lg:text-4xl", "label": "2XL / desktop 4XL"},
		{ "value": "text-2xl lg:text-5xl", "label": "2XL / desktop 5XL"}
	  ],
	  "default":   "text-base"
	},
	{
	  "type": "select",
	  "id": "font",
	  "label": "Font",
	  "options": [
		{
		  "value": "heading",
		  "label": "Heading"
		},
		{
		  "value": "body",
		  "label": "Body"
		}
	  ],
	  "default": "body"
	},
	{
	  "type": "select",
	  "id": "text_alignment",
	  "label": "Text alignment",
	  "options": [
		{ "value": "text-left", "label": "Left"},
		{ "value": "text-center", "label": "Center"},
		{ "value": "text-right", "label": "Right"}
	  ],
	  "default":   "text-left"
	},
	{
	  "type": "select",
	  "id": "text_position",
	  "label": "Text position",
	  "options": [
		{ "value": "items-start", "label": "Top"},
		{ "value": "items-center", "label": "Middle"},
		{ "value": "items-end", "label": "Bottom"}
	  ],
	  "default":   "items-center"
	},
	{
	  "type": "header",
	  "content": "Section padding"
	},
	{
	  "type": "select",
	  "id": "padding_top_desktop",
	  "options": [
		{ "value": "lg:pt-2px", "label": "None" },
		{ "value": "lg:pt-theme-half", "label": "Half" },
		{ "value": "lg:pt-theme", "label": "Standard" },
		{ "value": "lg:pt-theme-double", "label": "Double" }
	  ],
	  "label": "Top padding desktop",
	  "default": "lg:pt-theme"
	},
	{
	  "type": "select",
	  "id": "padding_bottom_desktop",
	  "options": [
		{ "value": "lg:pb-2px", "label": "None" },
		{ "value": "lg:pb-theme-half", "label": "Half" },
		{ "value": "lg:pb-theme", "label": "Standard" },
		{ "value": "lg:pb-theme-double", "label": "Double" }
	  ],
	  "label": "Bottom padding desktop",
	  "default": "lg:pb-theme"
	},
	{
	  "type": "select",
	  "id": "padding_top",
	  "options": [
		{ "value": "pt-2px", "label": "None" },
		{ "value": "pt-theme-half", "label": "Half" },
		{ "value": "pt-theme", "label": "Standard" },
		{ "value": "pt-theme-double", "label": "Double" }
	  ],
	  "label": "Top padding mobile",
	  "default": "pt-theme"
	},
	{
	  "type": "select",
	  "id": "padding_bottom",
	  "options": [
		{ "value": "pb-2px", "label": "None" },
		{ "value": "pb-theme-half", "label": "Half" },
		{ "value": "pb-theme", "label": "Standard" },
		{ "value": "pb-theme-double", "label": "Double" }
	  ],
	  "label": "Bottom padding mobile",
	  "default": "pb-theme"
	},
	{
	  "type":      "header",
	  "content":   "Color"
	},
	{
	  "type": "select",
	  "id": "color_scheme",
	  "label": "Color scheme",
	  "options": [
		  { "value": "primary", "label": "Primary"},
		  { "value": "secondary", "label": "Secondary"},
		  { "value": "tertiary", "label": "Tertiary"}
	  ],
	  "default":   "primary"
	},
	{
	  "type":      "header",
	  "content":   "Call to action"
	},
	{
	  "type": "url",
	  "id": "cta_link",
	  "label": "Link"
	},
	{
	  "type": "text",
	  "id": "cta_text",
	  "label": "Text"
	},
	{
	  "type": "select",
	  "id": "cta_style",
	  "label": "Style",
	  "options": [
		{ "value": "link", "label": "Link"},
		{ "value": "button", "label": "Button"}
	  ],
	  "default":   "link"
	}
  ],
  "presets": [
	{
	  "name": "Map",
	  "category": "Information"
	}
  ]
}
{% endschema %}
